@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");

#menu-toggle:checked + #menu {
  display: block;
}

footer {
  height: 400px;
  background-image: url("../images/jumper.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

html {
  font-family: "Tinos", serif;
}

hr {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: gray;
}
