@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");

#menu-toggle:checked + #menu {
  display: block;
}

html {
  font-family: "Tinos", serif;
}

.logo {
  height: 15vh;
  width: 15vh;
}

#nav {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/main.jpg");
  min-height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
